<div class="relative">
  <app-tags-input [externalOptions]="options" [displayFunction]="display" [badgeClass]="badgeClass"
                  [errorTags]="conflictingIngredientNames" [initialTags]="initialIngredients"
                  [selectOptions]="selectOptionsForSearchSource"
                  (queryChange)="onQueryChange($event)" (tagsChange)="onIngredientsChange($event)"
                  (selectOptionChange)="onSelectChange($event)"></app-tags-input>
  @if (isSearching) {
    <span class="loading loading-spinner loading-sm absolute right-3 top-3 pointer-events-none"></span>
  }
</div>
