<div class="card bg-base-100 p-4 w-72">
  <a [href]="recipe.url" target="_blank">
    @if (recipe.imageUrl && !imageError()) {
      <img [src]="recipe.imageUrl" [alt]="recipe.name" class="my-2 rounded w-full object-cover h-40"
           (error)="imageError.set(true)"/>
    } @else {
      <div class="my-2 rounded w-full object-cover h-40 flex justify-center items-center">
        <div>
          <span class="icon-[tabler--bowl-spoon] size-20 text-neutral-500"></span>
        </div>
      </div>
    }
  </a>
  <div class="flex">
    <div class="font-semibold grow"><a [href]="recipe.url" target="_blank">{{ recipe.name }}</a></div>
    <div>
      <a [href]="recipe.url" target="_blank" class="link link-primary"><span
        class="icon-[tabler--external-link] size-5"></span></a>
    </div>
  </div>

  @if (recipe.cookingTime) {
    <div class="text-sm text-base-content/60 mt-1">{{ recipe.cookingTime }} {{ "recipeCard.mins" | translate }}</div>
  }

  <div class="overflow-y-auto max-h-32">
    @for (ingredient of ingredients(); track ingredient.id) {
      <span class="badge mx-0.5 my-0.5" [ngClass]="getBadgeClassOf(ingredient)">{{ ingredient.names![0].name }}</span>
    }
  </div>

  <div class="card-footer text-sm text-base-content/50 p-0 mt-2">
    {{recipe.sourcePage}}
  </div>
</div>
