<nav class="navbar rounded-box">
  <div class="w-full md:flex md:items-center md:gap-2">
    <div class="flex items-center justify-between">
      <div class="navbar-start items-center justify-between max-md:w-full">
        <a class="link text-base-content link-neutral text-3xl font-bold no-underline" href="#">
          <span class="text-soft-peach-500">recps</span>
          <span class="text-dry-sage-700">.app</span>
        </a>
        <div class="md:hidden">
          <button type="button" class="collapse-toggle btn btn-outline btn-sm btn-square"
                  data-collapse="#solid-bg-navbar-collapse" aria-controls="solid-bg-navbar-collapse"
                  aria-label="Toggle navigation">
            <span class="icon-[tabler--menu-2] collapse-open:hidden size-4"></span>
            <span class="icon-[tabler--x] collapse-open:block hidden size-4"></span>
          </button>
        </div>
      </div>
    </div>
    <div id="solid-bg-navbar-collapse"
         class="md:navbar-end collapse hidden grow basis-full overflow-hidden transition-[height] duration-300 max-md:w-full">
      <ul class="menu md:menu-horizontal flex-nowrap text-base max-md:mt-2 gap-2 p-px">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </div>
  </div>
</nav>

<div>
  <div class="grid grid-cols-12">
    <div class="col-span-1"></div>
    <div class="col-span-10">
      <router-outlet></router-outlet>
    </div>
    <div class="col-span-1"></div>
  </div>

</div>
