<h2 class="text-lg font-semibold">search for recipes</h2>
<input type="text" class="input w-full mb-3" aria-label="input" placeholder="recipe name..."
       [value]="filterByName" (input)="filterByNameRawChange($any($event.target).value)" />

<div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-3">
  <div class="md:col-span-2">
    <h2 class="text-lg font-semibold">by ingredients</h2>
    <app-ingredients-input (selectedIngredientsChange)="includedIngredientsChange($event)"></app-ingredients-input>
  </div>

  <div class="md:col-span-1">
    <h2 class="text-lg font-semibold">exclude</h2>
    <app-ingredients-input (selectedIngredientsChange)="excludedIngredientsChange($event)"></app-ingredients-input>
  </div>
</div>
