@if (loading() || refreshingIngredientNames()) {
  <div class="fixed inset-0 z-50 flex items-center justify-center bg-base-100/60">
    <span class="loading loading-spinner loading-xl"></span>
  </div>
}

<div [class.pointer-events-none]="loading()">
  <app-recipe-main-search-params></app-recipe-main-search-params>
  <div class="mt-10">
    <app-recipe-search-result-display [recipes]="recipes()"></app-recipe-search-result-display>
  </div>

  <div class="flex justify-center mt-6">
    <app-pagination [pageSize]="limit" [totalCount]="totalCount()"></app-pagination>
  </div>
</div>
