@import "tailwindcss";
@plugin "@iconify/tailwind4";
@plugin "flyonui";
@import "flyonui/variants.css";
@source "../node_modules/flyonui/flyonui.js";


@plugin "flyonui/theme" {
  name: "recps-app-light";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: oklch(95.10% 0.037 120.53);
  --color-base-200: oklch(89.99% 0.071 121.71);
  --color-base-300: oklch(85.21% 0.106 122.42);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(65.54% 0.114 148.71);
  --color-primary-content: oklch(22.99% 0.031 149.74);
  --color-secondary: oklch(67.64% 0.124 134.97);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(55.15% 0.154 22.69);
  --color-accent-content: oklch(98% 0.001 106.423);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(98% 0.001 106.423);
}

@theme {
  --color-hunter-green-50: oklch(96.62% 0.011 149.86);
  --color-hunter-green-100: oklch(93.16% 0.023 151.64);
  --color-hunter-green-200: oklch(86.28% 0.046 151.18);
  --color-hunter-green-300: oklch(79.39% 0.069 150.60);
  --color-hunter-green-400: oklch(72.53% 0.093 149.86);
  --color-hunter-green-500: oklch(65.54% 0.114 148.71);
  --color-hunter-green-600: oklch(55.94% 0.097 148.94);
  --color-hunter-green-700: oklch(45.67% 0.077 149.06);
  --color-hunter-green-800: oklch(34.80% 0.055 149.26);
  --color-hunter-green-900: oklch(22.99% 0.031 149.74);
  --color-hunter-green-950: oklch(19.18% 0.022 150.14);

  --color-sage-green-50: oklch(96.72% 0.012 133.38);
  --color-sage-green-100: oklch(93.62% 0.025 134.27);
  --color-sage-green-200: oklch(87.09% 0.048 133.67);
  --color-sage-green-300: oklch(80.65% 0.075 134.21);
  --color-sage-green-400: oklch(74.21% 0.102 134.69);
  --color-sage-green-500: oklch(67.64% 0.124 134.97);
  --color-sage-green-600: oklch(57.63% 0.106 135.16);
  --color-sage-green-700: oklch(46.97% 0.083 134.97);
  --color-sage-green-800: oklch(35.67% 0.058 134.60);
  --color-sage-green-900: oklch(23.59% 0.035 135.11);
  --color-sage-green-950: oklch(19.68% 0.026 135.59);

  --color-yellow-green-50: oklch(97.56% 0.018 120.68);
  --color-yellow-green-100: oklch(95.10% 0.037 120.53);
  --color-yellow-green-200: oklch(89.99% 0.071 121.71);
  --color-yellow-green-300: oklch(85.21% 0.106 122.42);
  --color-yellow-green-400: oklch(80.32% 0.136 123.18);
  --color-yellow-green-500: oklch(75.75% 0.162 124.53);
  --color-yellow-green-600: oklch(64.17% 0.135 124.42);
  --color-yellow-green-700: oklch(52.28% 0.109 124.56);
  --color-yellow-green-800: oklch(39.41% 0.078 124.40);
  --color-yellow-green-900: oklch(25.75% 0.046 123.38);
  --color-yellow-green-950: oklch(21.04% 0.034 124.36);

  --color-vanilla-cream-50: oklch(97.13% 0.014 84.58);
  --color-vanilla-cream-100: oklch(94.38% 0.029 89.57);
  --color-vanilla-cream-200: oklch(88.78% 0.058 89.65);
  --color-vanilla-cream-300: oklch(83.03% 0.085 88.48);
  --color-vanilla-cream-400: oklch(77.56% 0.109 88.07);
  --color-vanilla-cream-500: oklch(72.20% 0.127 86.56);
  --color-vanilla-cream-600: oklch(61.27% 0.107 86.54);
  --color-vanilla-cream-700: oklch(49.83% 0.085 86.48);
  --color-vanilla-cream-800: oklch(37.93% 0.062 88.02);
  --color-vanilla-cream-900: oklch(24.73% 0.036 88.74);
  --color-vanilla-cream-950: oklch(20.34% 0.027 87.01);

  --color-blushed-brick-50: oklch(95.25% 0.013 17.38);
  --color-blushed-brick-100: oklch(90.71% 0.025 17.63);
  --color-blushed-brick-200: oklch(81.32% 0.056 16.97);
  --color-blushed-brick-300: oklch(72.14% 0.087 18.49);
  --color-blushed-brick-400: oklch(63.25% 0.122 19.83);
  --color-blushed-brick-500: oklch(55.15% 0.154 22.69);
  --color-blushed-brick-600: oklch(47.04% 0.129 22.33);
  --color-blushed-brick-700: oklch(38.54% 0.101 22.28);
  --color-blushed-brick-800: oklch(29.58% 0.073 21.42);
  --color-blushed-brick-900: oklch(19.94% 0.039 21.18);
  --color-blushed-brick-950: oklch(16.72% 0.030 17.02);
}

@layer utilities {
  .dropdown-menu {
    --tw-shadow-color: oklch(0.808 0.047 123.707);
  }

  .card {
    --card-shadow: 0 1px 3px 0 oklch(0.808 0.047 123.707 / 100%),
                  0 1px 2px -1px oklch(0.808 0.047 123.707 / 100%);
  }
}

@property --tw-translate-x {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0;
}
